# Tor - Anonymous network relay/proxy
# Copy to app.env and customize

# Timezone
TZ=America/New_York

# Hostname (used for admin contact emails)
BASE_HOST_NAME=$HOSTNAME

# Optional: default onion site to redirect to
DEFAULT_ONION_SITE=
